﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="App.aspx.cs" Inherits="Veerabook.App" ValidateRequest="false" Debug="true" EnableEventValidation="false" EnableViewState="true" %>
<%@ Register Assembly="Evolutility.UIServer" Namespace="Evolutility" TagPrefix="EVOL" %> 

<asp:Content ID="Content1" ContentPlaceHolderID="CPTitle" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="CPHeader" runat="server">
    <link href="Evol.css" rel="stylesheet" />
    <script type="text/javascript" src="scripts/jquery-1.3.2.min.js"></script>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="CPContent" runat="server">
    <div class="content-wrap">
        <div class="row">
            <div class="col-sm-12">
                <div class="nest" id="inlineClose">
                    <div class="title-alt">
                        <h6>
                            </h6>
                        <div class="titleClose">
                                    
                        </div>
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#inline">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>

                    </div>

                    <div class="body-nest" id="inline">

                            
                            
                            <EVOL:UIServer ID="Evo1" runat="server" BackColor="#EDEDED" BackColorRowMouseOver="Beige"
                                           CssClass="main1" DBAllowDesign="true" DBAllowExport="True" DisplayModeStart="List"  ShowTitle="true"
                                           Language="EN" NavigationLinks="true" RowsPerPage="20"
                                           VirtualPathDesigner= "EvoDico/"  SecurityKey="EvoDico"
                                           ToolbarPosition="top" VirtualPathPictures="uploads/" VirtualPathToolbar="PixEvo"
                                           Width="100%"  DBAllowLogout="False" DBAllowCharts="false"  /> 
                            <asp:Label ID="Label1" runat="server" Text="" ></asp:Label>
                            
                            

                            </div>
                        </div>

                    </div>

                </div>
            </div>
=
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="CPScript" runat="server">
</asp:Content>
