﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GetRemarks.aspx.cs" Inherits="Veerabook.GetRemarks" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
       <asp:Literal ID="Result" runat="server" ></asp:Literal>
    </form>
</body>
</html>
