﻿body .roomsHeader {
    background-color: #0D4976;
    min-height: 60px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

body .lvRoomsRow {
    background-color: #EFF7FE;
    margin-bottom: 25px;
    padding-right: 0px;
    height: auto;
    width: 100%;
    border: #dee7f0 solid 1px;
    display:table;
}
body .headerItem {
    color: white;
    text-transform: capitalize;
    font: 14pt "Montserrat-SemiBold";
    line-height: 60px;
    height: inherit;
    margin-bottom: 0px !important;
}
body .dataItem {
    background-color: #EFF7FE;
    min-height: 60px;
    color: #0D4976;
    text-transform: capitalize;
    font-size: 100%;
    padding-top: 3%;
    vertical-align:middle;
    text-align:center;
    border-right: #dee7f0 solid 1px;
    height: inherit;
            
}
body .buttonItem {
    background-color: #eff7fe !important;
    min-height: 60px;
    text-transform: capitalize;
    line-height: 60px;
    height: inherit;
    padding-top: 2%;
    margin-bottom: 0px;
}
body .roomCapacity {
    padding: 2.2%;
    margin-bottom:1px;
    /*border-bottom: #dee7f0 solid 1px;*/
}
.first {
    padding-right: 40px;
}
.paddingSide {
    padding: 0 15px !important;
}
@media (max-width: 767px) {
    .roomsHeader, .noPaddingMediaXS, .dataItem, .lvRoomsRow {
        margin-bottom: 0px !important;
    }}
.lvRoomsRow {
    margin-bottom: 30px !important;
}
@media (min-width: 939px) and (max-width: 950px) {
    body .roomCapacity {
        padding: auto;
        font-size: 100%;
    }
}
@media (min-width: 740px) and (max-width: 836px) {
    body .roomCapacity {
        padding: auto;
        font-size: 95%;
    }
}
@media (max-width: 860px) {
    body .roomsHeader {
        min-height: unset;
        font-size: 120%;
        margin-bottom: 0px !important;
    }
}
@media (max-width: 715px) and (min-width: 652px) {
    body .headerItem {
                
        font-size: 100%;
                
    }
}
@media (max-width: 651px) and (min-width: 563px) {
    body .headerItem {
                
        font-size: 80%;
                
    }
}
@media (min-width: 1103px) {
    body .roomCapacity {
        line-height: 100% !important;
        font-size: 80% !important;
        /*line-height: 30px;
                font-size: 14pt;*/
        /*height: 100%;*/
        padding-top: auto;
                
    }
    body .dataItem, body .buttonItem {
        padding-top: auto;
    }
}
@media (max-width: 420px) and (min-width: 320px ) {
    body .buttonItem {
        padding: 1% 5%;
        line-height: 20%;
        min-height: unset;
        padding-left: 2%;
    }
    body .headerItem {
        padding-left: 2%;
    }
    body .roomCapacity {
        font-size: 35%;
    }
    body .dataItem {
        line-height: 100%;
        font-size: 50%;
        min-height: unset;
        padding-left: 2%;
    }
    body .buttonItem input {
        font-size: 36% !important;
        line-height: 2.2%;
        padding-left: 15% !important;
    }
}
@media (max-width: 562px) {
    body .headerItem {
                
        font-size: 50%;
        line-height: 180%;
                
    }
    body .dataItem {
        line-height: 80%;
        font-size: 50%;
    }
}